@page
@model WebApp.Pages.Cliente.EditModel
@{
}

<div id="AppEdit" class="container">
    <div class="card">
        <div class="card-header">
            @(Model.id.HasValue?"Actualizar":"Nuevo")
        </div>
        <div class="card-body">


            <form id="FormEdit" method="post">

                <input type="hidden" asp-for="Entity.IdCliente" />


                <div class="form-group mb-3">
                    <label for="Entity.NombreServicio" class="form-label">Identificacion</label>
                    <input type="text" class="form-control" asp-for="Entity.Identificacion" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.PlazoEntrega" class="form-label">ID de tipo de identificacion</label>
                    <input type="text" class="form-control" asp-for="Entity.IdTipoIdentificacion" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.CostoServicio" class="form-label">Nombre</label>
                    <input type="text" class="form-control" asp-for="Entity.Nombre" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.estado" class="form-label">Primer Apellido</label>
                    <input type="text" class="form-control" asp-for="Entity.PrimerApellido" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.CuentaContable" class="form-label">Segundo Apellido</label>
                    <input type="text" class="form-control" asp-for="Entity.SegundoApellido" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.CuentaContable" class="form-label">Fecha de nacimiento</label>
                    <input type="text" class="form-control" asp-for="Entity.FechaNacimiento" maxlength="250" required>
                </div>


                <div class="form-group mb-3">
                    <label for="Entity.CuentaContable" class="form-label">Nacionalidad</label>
                    <input type="text" class="form-control" asp-for="Entity.Nacionalidad" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.CuentaContable" class="form-label">Fecha de funcion</label>
                    <input type="date" class="form-control" asp-for="Entity.FechaDefuncion" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.CuentaContable" class="form-label">Genero</label>
                    <input type="text" class="form-control" asp-for="Entity.Genero" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.CuentaContable" class="form-label">Nombre y Apellidos de Padre</label>
                    <input type="text" class="form-control" asp-for="Entity.NombreApellidosPadre" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.CuentaContable" class="form-label">Nombre y Apellidos de Madre</label>
                    <input type="text" class="form-control" asp-for="Entity.NombreApellidosMadre" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.CuentaContable" class="form-label">Pasaporte</label>
                    <input type="text" class="form-control" asp-for="Entity.Pasaporte" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.CuentaContable" class="form-label">CuentaIBAN</label>
                    <input type="text" class="form-control" asp-for="Entity.CuentaIBAN" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.CuentaContable" class="form-label">CorreoNotifica</label>
                    <input type="text" class="form-control" asp-for="Entity.CorreoNotifica" maxlength="250" required>
                </div>
                <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary">
                            @(Model.id.HasValue?"Actualizar":"Agregar")
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>

    .

</div>

@section Scripts{
    
    <script defer src="~/App/Cliente/Edit.js"></script>
}

